*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --font: 'RocknRoll One', sans-serif;
}

.outter-div{
  width: 100%;
  height: 100vh;
  background-color: #ab4b00bd;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.inner-div{
  width: 300px;
  height: 500px;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 5px 5px 10px black, -5px -5px 10px black;
  border-radius: 10px;
  font-size: 20px;
  font-family: var(--font);
  overflow: auto;
}

h1{
  background-color: #ab4b00bd;
  color: whitesmoke;
  font-family: var(--font);
}

input{
  outline: 0;
  border-width: 0 0 2px;
  border-color: #ab4b00bd;
  font-size: 20px;
  width: 70%;
  font-family: var(--font);
}

.add-button, .del-button{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ab4b00bd;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 5%;
  cursor: pointer;
  font-family: var(--font);
  box-sizing: border-box;
}
.del-button{
  width: 25px !important;
  height: 25px !important;
  font-size: 15px !important;
}
.add-button:hover{
  background-color: green;
}
.del-button:hover{
  background-color: crimson;
}
.add-button:focus, .del-button:focus{
  outline: none;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
  font-size: 18px;
}

ul li{
  margin-left: 5%;
  text-align: left;
  font-family: var(--font);
}